#margen{
    padding-left: 10%;
    padding-top: 5%;
  }
#margen2{
    padding-left: 2%;
    padding-top: 5%;
}
#margen3{
    padding-left: 15%;
    padding-top: 5%;
}
#perfil{
    width: 25%;
}