.home-icon {
  background: url("../images/home.svg") no-repeat center;
}

.messages-icon {
  background: url("../images/messages.svg") no-repeat center;
}

.requests-icon {
  background: url("../images/requests.png") no-repeat center;
}

.refresh-icon {
  background: url("../images/update.svg") no-repeat center;
  background-size: contain !important;
}

.home-icon,
.messages-icon,
.requests-icon,
.refresh-icon {
  background-size: cover;
  line-height: 1.5;
  display: block;
  padding: 0.7rem;
  border: none;
}

.home-icon:focus,
.messages-icon:focus,
.requests-icon:focus,
.refresh-icon:focus {
  outline: 0;
}
.col.div-nav {
  padding: 0;
}

.light {
  color: white !important;
}

#numero {
  display: none;
}

.non-active {
  text-align: center;
}

.friends {
  height: auto;
  overflow-y: scroll;
}

.friends p {
  text-align: center;
}

.friend {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.friend span {
  cursor: pointer;
}

.friend span:hover ~ .msgdiv {
  display: block;
}

.msgdiv {
  display: none;
  width: 200px;
  border-radius: 5%;
  border: 1px thin black;
}

.infomsg {
  display: flex;
  justify-content: flex-end;
}
